<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
		<meta charset="utf-8">
		<title></title>
		<link rel='stylesheet' href='https://cdn.jsdelivr.net/gh/kognise/water.css@latest/dist/light.min.css'>
		<link rel="stylesheet" href="/css/style.css">
	</head>

  <body>
    <% include partials/nav.ejs %>
    <p>
			Your message has been sent thank you!
    </p>
  </body>
</html>
